@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Al's buy-a-wreck</h1>
    <p>&nbsp;</p>
    <img class="rounded img-fluid" src="~/image/logo.png">
    <p>&nbsp;</p>
    <p>We service all of your worst car buying needs.  Please <a class="text-dark" asp-area="" asp-controller="Wrecks" asp-action="Index">view our current wrecks for sale</a>.</p>
</div>
